
<div id="auth-login">
	<div class="popwindow-title">
    	<div class="logo">ONVOLO</div>
        <div class="title">Sign In</div>
    </div>
	<div>
    	<input type="email" id="auth-email"  class="login-input" value="" required="required" placeholder="Email">
    </div>
    <div>
    	<input type="password" id="auth-password" class="login-input" value="" required placeholder="Password">
  	</div>
    <div>
    	<input type="button" id="auth-login-submit" class="login-button" value="Login">
   	</div>
</div>