<div id="registration-form">
	 <div class="popwindow-title">
    	<div class="logo">ONVOLO</div>
        <div class="title">Sign In</div>
    </div>
	<div class="registration-container">
    	<div>
    	<input type="text" id="registration-email" name="registration_email" class="registration-input" placeholder="Email" required>
        </div>
        <div>
        <input type="password" id="registration-password" name="registration_password" class="registration-input" placeholder="Password" required>
        </div>
    </div>
    
    <div class="registration-container">
    	<div>
    	<input type="text" id="registration-firstname" name="registration_firstname" class="registration-input" placeholder="First Name" required>
        </div>
        <div>
        <input type="text" id="registration-lastname" name="registration_lastname" class="registration-input" placeholder="Last Name" required>
        </div>
    </div>
    
    <div class="registration-container">
    	<input type="text" id="registration-dob" name="registration_dob" class="registration-input" placeholder="Birth Date">
    </div>
    
    <div class="registration-container">
    	<input type="text" id="registration-location" name="registration_location" class="registration-input" placeholder="Location">
    </div>
    
    <div class="registration-container">
    	Male <input type="radio" class="registration-gender registration-radio" name="registration_gender" value="M">
        Female <input type="radio" class="registration-gender registration-radio" name="registration_gender" value="F">
    </div>
    
    <div class="registration-container">
    	<input type="checkbox" id="registration-accept" class="registration-checkbox" value="true">
        I agree on the terms and conditions
    </div>
    
    <div class="registration-container">
    	<input type="button" id="registration-submit" class="registration-button" value="Sign Up">
    </div>

</div>