{{if session.loggedin:}}
<div id="create-post" data-token="{{=session.user_token}}">
	<div id="post-content">
    	<div class="page-title">Add Post</div>
    	<div class="post-container">
        	<span class="post-name">Categories:</span>
        	<select id="post-category" class="post-select" name="post_category">
            	<option value="0"></option>
                <option value="1">People</option>
                <option value="2">Housing</option>
                <option value="3">For Sale</option>
                <option value="4">Services</option>
                <option value="5">Jobs</option>
            </select>
        </div>
        <div class="post-container">
        	<span class="post-name">Title:</span>
        	<input type="text" class="post-input" id="post-title" name="post_title" placeholder="Title" required>
        </div>
        <div class="post-container">
        	<span class="post-name">Description:</span>
        	<textarea class="post-textarea" id="post-description" name="post_description" placeholder="Description" required></textarea>
        </div>
        <div class="post-container">
        	<span class="post-name">Location:</span>
        	<input type="text" class="post-input" id="post-location" name="post_location" placeholder="Location">
        </div>
        <div class="post-container">
        	<span class="post-name">Tags:</span>
        	<input type="text" class="post-input" id="post-tag" name="post_tag" placeholder="Tag">
        </div>
        <div class="post-container">
        	<span class="post-name">Photos:</span>
            <iframe name="hiddenFrame" class="hide" style="display:none;"></iframe>
            <form id="upload-image" action="" method="post" target="hiddenFrame" enctype="multipart/form-data">
            <input type="hidden" id="post-id" name="post_id" value="">
        	<input type="file" class="post-file" id="post-image" name="post_image">
            </form>
        </div>
        <div class="post-container">
        	<span class="post-name">Price:</span>
        	<input type="text" class="post-input" id="post-price" name="post_price" placeholder="$0.00">
        </div>
        <div class="post-container">
        	<div>
            	<input type="checkbox" id="post-accept" value="1" class="post-check"> Accept OnVolo Dollars?
           	</div>
            <div>
            	<input type="checkbox" id="post-status" value="1" class="post-check" checked="checked"> Status?
           	</div>
        	
        </div>
        <div class="post-container">
        	<input type="button" class="post-button" id="post-save" name="post_save" value="Save">
        </div>
        
    </div>
</div>
{{else:}}
<div>Please login to make a post</div>
{{pass}}