{{extend 'layout.html'}}

<div id="post-view">
	<div id="post-left-container" class="left">
        <div id="post-view-title">
            <h3>{{=response.post_title}}</h3>
        </div>
        <div id="post-view-location">
            {{=response.post_location}}
        </div>
        <div id="post-view-price">
            $ {{=response.post_price}}
        </div>
        <div id="post-view-category">
            {{=response.post_category}}
        </div>
        <div id="post-view-description">
            <div>{{=response.post_description}}</div>
        </div>
    </div>
    <div id="post-right-container" class="right">
    	<div id="post-right-content" class="right">
            <div id="post-view-image">
                <img src="{{=response.post_image}}">
            </div>
            <div id="post-images">
            {{if len(response.post_images) > 0:}}
                {{c=0}}
                {{for i in response.post_images:}}
                <div class="post-other-images left">
                <img src="{{=response.post_image_url}}75x75/{{=response.post_images[c]['image_name']}}">
                
                </div>
                {{c +=1}}
            {{pass}}
            </div>
        </div>
    </div>
	
	{{pass}}
	
</div>