<div class="clear"></div>
    <footer>FOOTER</footer>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script> 
<script src="{{=URL('static', 'js/bootstrap.min.js')}}" type="text/javascript"></script> 
<script src="{{=URL('static', 'js/jquery.masonry.min.js')}}" type="text/javascript"></script> 
<script src="{{=URL('static', 'js/jquery.infinitescroll.min.js')}}" type="text/javascript"></script> 
<script src="{{=URL('static', 'js/scripts.js')}}" type="text/javascript"></script>
</body>
</html>