<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="{{=URL('static', 'css/style-reset.css')}}" type="text/css">
<link rel="stylesheet" href="{{=URL('static', 'css/style.css')}}" type="text/css">
<script src="{{=URL('static', 'js/modernizr.js')}}"></script>
<title>onVOLO</title>
</head>

<body class="guest">
<div id="container">
	<header>
    	<div id="header-content">
            <div id="header-top">
                <div id="header-main-nav" class="left">
                    <!--<div class="left"><a href="#">Popular</a></div>
                    <div class="left"><a href="#">Latest</a></div>
                    <div class="left"><a href="#">Around Me</a></div>-->
                </div>
                <div id="header-center" class="left">
                    <div id="header-logo" class="left">
                        <span>ONVOLO</span>
                    </div>
                    <div id="search-container" class="left">
                        <input type="text" id="search-input" class="input" placeholder="i Want...">
                        <div id="auto-complete"><ul id="ac-container"></ul></div>
                    </div>
            	</div>
                <div id="header-registration" class="right">
                    <div><a href="#">Login</a> / <a href="#">Register</a></div>
                </div>
            </div>
            <div class="clear"></div>
            
        </div>
    </header>