<!doctype html>
<html>
<head>
<meta charset="utf-8">
<base href="{{=response.site_url}}">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="{{=URL('static', 'css/style-reset.css')}}" type="text/css">
<link rel="stylesheet" href="{{=URL('static', 'css/style.css')}}" type="text/css">
<script src="{{=URL('static', 'js/modernizr.js')}}"></script>
<script src="{{=URL('static', 'js/volo.js')}}"></script>
<title>onVOLO</title>
</head>

<body class="guest">
<div id="container">
	<header>
    	<div id="header-content">
            <div id="header-top">
                <div id="header-main-nav" class="left">
                    <!--<div class="left"><a href="#">Popular</a></div>
                    <div class="left"><a href="#">Latest</a></div>
                    <div class="left"><a href="#">Around Me</a></div>-->
                </div>
                <div id="header-center" class="left">
                    <div id="header-logo" class="left">
                        <a href="{{=response.site_url}}"><span>ONVOLO</span></a>
                    </div>
                    <div id="search-container" class="left">
                        <input type="text" id="search-input" class="input" placeholder="i Want..."> <a id="create-post" class="create-post-button">+ Create Post</a>
                        <div id="auto-complete"><ul id="ac-container"></ul></div>
                    </div>
            	</div>
                <div id="header-registration" class="right">
                    <div>
                    	{{if session.loggedin:}}
                        {{=session.user_data['firstname']}} <a id="logout-button">Logout</a>
                        {{else:}}
                    	<a id="login-button">Login</a> / <a id="register-button">Register</a>
                        {{pass}}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            
        </div>
    </header>
    <div id="content">
    {{include}}
    </div>
    <div class="clear"></div>
    <footer>ONVOLO All Rights Reserve &copy; 2013</footer>
</div>
<!--<script src="http://code.jquery.com/jquery-latest.js"></script>--> 
<script src="{{=URL('static', 'js/jquery.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/bootstrap.min.js')}}" type="text/javascript"></script> 
<script src="{{=URL('static', 'js/jquery.masonry.min.js')}}" type="text/javascript"></script> 
<script src="{{=URL('static', 'js/jquery.infinitescroll.min.js')}}" type="text/javascript"></script> 
<script src="{{=URL('static', 'js/scripts.js')}}" type="text/javascript"></script>
</body>
</html>
