body {
	font-family:Arial, Helvetica, sans-serif;
}

header {
	width:100%;
	height:60px;
	background:#fbfbfa;
	-webkit-box-shadow: 0 8px 6px -7px black;
	-moz-box-shadow: 0 8px 6px -7px black;
	box-shadow: 0 8px 6px -7px black;
	padding-top:10px;
}

footer {
	width:90%;
	margin:0 auto;
	font-size:14px;
	color:#666;
}

a {
	cursor:pointer;
}

#header-content {
	margin:0 auto;
	width:90%;
}

#header-top {	
	margin:0 0 10px 0;
}

#header-bottom {
	margin:0 auto;
	width:500px;
}

#header-logo {
	margin-right:10px;
}

#header-logo span {
	font-size:26px;
	font-weight:bold;
	color:#333;
}

#header-logo a {
	text-decoration:none;
}

#header-main-nav {
	width:350px;
}

#header-main-nav a {
	text-decoration:none;
	color:#333;
	margin-right:10px;
	text-shadow: 0px 1px 1px #333;
}

#header-registration a {
	text-decoration:none;
	color:#333;
	font-size: 12px;
}

.create-post-button {
	background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    font-size: 14px;
    padding: 6px 12px;
}

#container {
	width:100%;
	height:100%;
}

/*Common Declacration*/

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

.input {
	border-radius:4px;
	border:1px solid #CCC;
	padding:3px;
}

/*search*/
#search-container {
	
}
#search-input {
	width:350px;
	height:20px;
}

#content {
	padding:10px 0 0 0;
	width:90%;
	min-height:400px;
	margin:0 auto;
}

.post-item {
	margin-bottom:10px;
	position:relative;
	z-index:9998;
}

/**** Transitions for Masonry ****/

.masonry, .masonry .masonry-brick {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

/*.post-item {
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 3000ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 3000ms;
}
.post-item:hover {
    opacity: .7;
    -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 3000ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 3000ms;
    position: relative;
    z-index: 99;
}*/

/*.post-item { 
	-webkit-transition: all 10s ease-in-out; 
	-moz-transition: all 10s ease-in-out; 
	transition: all 10s ease-in-out; 
}
.post-item:hover { 
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1); 
}*/


.post-item .post-image {
    transition:All 1.1647s ease-in-out;
    -webkit-transition:All 1.1647s ease-in-out;
    -moz-transition:All 1.1647s ease-in-out;
    -o-transition:All 1.1647s ease-in-out;
    /*transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);*/
}

.post-item .post-image:hover {
    transition:All 1.1647s ease-in-out;
    -webkit-transition:All 1.1647s ease-in-out;
    -moz-transition:All 1.1647s ease-in-out;
    -o-transition:All 1.1647s ease-in-out;
    transform: rotate(0deg) scale(1.2) skew(0deg) translate(10px);
    -webkit-transform: rotate(0deg) scale(1.2) skew(1deg) translate(10px);
    -moz-transform: rotate(0deg) scale(1.2) skew(0deg) translate(10px);
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
}
	
.post-item {
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border:1px solid #ccc;
}

.post-content {
	overflow:hidden;
}

.post-info {
	position:absolute;
	bottom:0;
	left:0;
	height:60px;
	width:100%;
	background:#000;
	opacity:0.7;
}

.post-review {
	background:url(../images/icon-review.png);
	position:absolute;
	top:10px;
	right:10px;
	width:32px;
	height:28px;
}

.post-user {
	position:absolute;
	top:10px;
	right:10px;
	
	width:60px;
	height:60px;
	
}

.post-user img {
	border-radius:100%;
	border:1px solid #03F;
}

.post-review span {
	color: #333333;
    display: block;
    padding: 8px 0 0 9px;
	font-size:12px;
}

.post-info-content {
	margin-left:10px;
	margin-top:5px;
}

.post-info-content .title {
	color:#fff;
	font-size:15px;
	font-weight:bold;
	opacity:1;
}

.post-info-content .price {
	color:#fff;
	font-size:15px;
	font-weight:bold;
	opacity:1;
}

.post-price {
	border-left:1px solid #ccc;
	height:50px;
	width:30%;
}

.post-price span {
	margin:15px auto;
	display:block;
	width:3.5em;
	color:#00B0FF;
	font-weight:bold;
}

.post-footer {
	height:50px;
	width:100%;
}

.post-footer-content {
	padding:10px 0 0 5px;
	width:65%;
}

.post-user-image {
	/*width:20%;*/
}

.post-details {
	margin-left:5px;
	width:65%;
}

.post-details p {
	font-size:12px;
	color:#666;
}

.container {-webkit-transform:translateZ(0); /* Stop webkit flicker bug */}

#auto-complete {
	min-height:20px;
	width:356px;
	border:1px solid #ccc;
	z-index:9999;
	background:#fff;
	position:relative;
}

.red {
	color:#F00;
}

/*POST*/
.post-name {
	width:200px;
	font-weight:bold;
	display:block;
	float:left;
}

.post-container {
	margin-bottom:10px;
}

/*SINGLE POST*/
#post-left-container, #post-right-container {
	width:50%;
}

#post-left-container div {
	margin-bottom:10px;
}

.post-other-images {
	margin-right:5px;
}

#post-view-title {
	font-size:16px;
}

#post-content .post-container select {
	width:400px;
	height:25px;
}

#post-content .post-container .post-input {
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 25px;
    margin-bottom: 6px;
    width: 400px;
}

#post-content .post-container textarea {
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 75px;
    margin-bottom: 6px;
    width: 400px;
}

/*LOGIN FORM*/

.login-input {
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 25px;
    margin-bottom: 6px;
    width: 325px;
}

/*REGISTER FORM*/

.registration-container {
	margin-bottom:10px;
}

.registration-input {
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 25px;
    margin-bottom: 6px;
    width: 325px;
}
/*POPUP*/

.window-curtain {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:9998;
	background:#666;
	overflow:hide;
	padding-top:40px;
}

.window-content {
	margin: 0 auto;
	min-height:300px;
	overflow:auto;
	z-index:9999;
	border:3px solid #666;
	background:#fff;
	padding:5px;
}

.append-content {
	margin:0 auto;
	height:auto;
}

.close-window-container {
	font-size:12px;
	color:#999;
}

.popwindow-title {
	text-align:center;
	margin-bottom:20px;
}

.popwindow-title .logo {
	font-size:24px;
	margin-bottom:5px;
}

.popwindow-title .title {
	font-size:14px;
}