{{extend 'layout.html'}}
<div id="post-items"> 
{{items=response.post_items}}
{{
for i in range(len(items)):
item=items[i]
}}


    <div class="post-item" style="width:{{=item['divWT']}}px; height:{{=item['divHT']}}px;">
        <div class="post-content">
            <div class="post-image"><img src="{{=item['image']}}"></div>
    
            <div class="post-user"><div><img src="{{=item['profile']}}"></div></div>
            <div class="post-info">
                <div class="post-info-content">
                    <div class="title"><span>{{=item['title']}}</span></div>
                    <div class="price"><span>{{=item['price']}}</span></div>
                </div>
            </div>
        </div>
    </div>
	
{{pass}}
</div>